:root {
  // Try different transitions for some interesting effects

  --timing: ease;
  // --timing: cubic-bezier(0.705, 0.785, 0.555, 1.3);
  // --timing: linear;
  // --timing: none;
}

.scrollBar1 {
  position: fixed;
  top: 95vh;
  height: 2px;
  width: 0%;
  background: goldenrod;
  transition: width 200ms var(--timing);
  text-align: right;
  color: #fff;
  span {
    position: absolute;
    top: -23px;
    right: 15px;
    font-size: 0.7em;
    font-weight: 500;
    display: block;
    text-align: center;
    &::after {
      content: "%";
      font-size: 0.8em;
      position: absolute;
      right: -15px;
      bottom: 4px;
      font-weight: 700;
      opacity: 0.4;
    }
  }
}

.scrollBar2 {
  position: fixed;
  top: 0;
  right: 2vw;
  height: 0%;
  width: 10px;
  background: #49e;
  transition: height 200ms var(--timing);
  text-align: right;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 1em;
  span {
    position: absolute;
    bottom: 3px;
    left: 2px;
    font-size: 0.7em;
    font-weight: 500;
    display: inline-block;
    text-align: left;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom left;
    &::after {
      content: "%";
      font-size: 0.8em;
      position: absolute;
      right: -15px;
      bottom: 4px;
      font-weight: 700;
      opacity: 0.4;
    }
  }
}

body {
  position: relative;
  overflow-x: hidden;
  height: 200vh;
  width: 100%;
  background: linear-gradient(
  0deg,
  #111 33%,
  #151515 33%,
  #151515 66%,
  #111 66%
  );
  display: flex;
  align-items: center;
  text-align: center;
  color: #ccc;
  > div {
    position: absolute;
    top: 35vh;
    font-size: 2em;
    display: block;
    text-align: center;
    width: 100vw;
  }
}

.st0 {
  fill: #ffffff;
}

h1,
h2,
h3 {
  margin: 0 0 1em;
}

h1 {
  font-size: 1.2em;
}
h2 {
  color: #666;
  font-size: 0.8em;
}
h3 {
  color: #777;
  font-size: 0.6em;
}

