---
const { namaU } = Astro.props;
---
    <div id="above" class="snap">
      <div class="cover">
        <div class="cover-item">
          <p>Kepada</p>
          <h2>{namaU}</h2>
        </div>
        <div class="cover-item">
          <p>dalam bahagia,</p>
          <h1>
            <span class="cover-cp">Nabila</span>
            <br>
            <span class="cover-and">dan</span>
            <span class="cover-cp">Fauzi</span>
          </h1>
          <p>beserta keluarga, mengundang anda untuk ikut merayakan pernikahan kami.</p>
        </div>
        <div class="cover-item">
          <p class="cover-date">21|12|24</p>
          <p class="cover-place">UNCLE D SPACE</p>
        </div>
      </div>
      <div class="above-empty"></div>
    </div>
