---
---
<div id="under" class="">

  <div id="hero" class="v100 pad-h">
    <div id="hero-title">
      <p>PERNIKAHAN</p>
      <h2>
          <div id="tit-nab">
            NABILA
          </div>
          <div id="tit-dan">
            &
          </div>
          <div id="tit-fau">
            FAUZI
          </div>
      </h2>
    </div>
    <p id="ayat">"Di antara tanda-tanda (kebesaran)-Nya ialah bahwa Dia menciptakan pasangan-pasangan untukmu dari (jenis) dirimu sendiri agar kamu merasa tenteram kepad-hanya. Dia menjadikan di antaramu rasa cinta dan kasih sayang. Sesungguhnya pada yang demikian itu benar-benar terdapat tanda-tanda (kebesaran Allah) bagi kaum yang berpikir."<br><span class="bold">Qs. Ar-Rum 21</span></p>
  </div>

  <div id="mempelai" class="v100 pad-h">
    <div id="nabila" class="v50">
      <h3>Nabila<br><span>Annisa</span></h3>
      <p>Anak pertama dari<br>Bapak Duddy Perkasa<br>dan Ibu Mia Rusmiati</p>
    </div>
    <div id="fauzi" class="v50">
      <h3>Fauzi<br><span>Irfandika</span></h3>
      <p>Anak kedua dari<br>Bapak Bakti Ramadhan<br>dan Ibu Yunyun Yuniastuti</p>
    </div>
  </div>

  <div id="wdt" class="v100 pad-h">
    <h3>Waktu <span id="wdt-dan">&</span> Tempat</h3>
    <div id="wdt-waktu" class="wdt-info">
      <img src="images/calendar.svg" alt="calendar" width="32px" height="32px">
      <h4>Sabtu, 21 Desember 2024</h4>
      <p>13:00 s.d. 15:00</p>
    </div>
    <div id="wdt-tempat" class="wdt-info">
      <img src="images/location.svg" alt="location" width="32px" height="32px">
      <h4>Uncle D Space</h4>
      <p>Jl. Cigadung Raya Barat no. 28A<br>Cibeunying Kaler, Bandung</p>
    </div>

    <div id="ctd" class="wdt-info">
      <img src="images/hourglass.svg" alt="hourglass" width="32px" height="32px">
      <div id="cds"></div>
      <p>MENUJU PERNIKAHAN</p>
    </div>
  </div>


  <div id="closing" class="v25 pad-h">
    <p>Terima kasih kami ucapkan atas perhatian dan doa anda, kami nantikan kehadirannya pad-ha acara pernikahan kami.<br><br>tertanda,<br>Nabila, Fauzi, dan Keluarga.</p>
  </div>

</div>
