---
---
<div id="under" class="snap">

  <div id="hero" class="v100 pad-h">
    <div id="hero-title">
      <p>PERNIKAHAN</p>
      <h2>
          <div id="tit-nab">
            NABILA
          </div>
          <div id="tit-dan">
            &
          </div>
          <div id="tit-fau">
            FAUZI
          </div>
      </h2>
    </div>
    <p id="ayat">"Di antara tanda-tanda (kebesaran)-Nya ialah bahwa Dia menciptakan pasangan-pasangan untukmu dari (jenis) dirimu sendiri agar kamu merasa tenteram kepad-hanya. Dia menjadikan di antaramu rasa cinta dan kasih sayang. Sesungguhnya pada yang demikian itu benar-benar terdapat tanda-tanda (kebesaran Allah) bagi kaum yang berpikir."<br><span class="bold">Qs. Ar-Rum 21</span></p>
  </div>

  <div id="mempelai" class="v100 pad-h">
    <div id="nabila" class="v50">
      <h3>Nabila<br><span>Annisa</span></h3>
      <p>Anak pertama dari<br>Bapak Duddy Perkasa<br>dan Ibu Mia Rusmiati</p>
    </div>
    <div id="fauzi" class="v50">
      <h3>Fauzi<br><span>Irfandika</span></h3>
      <p>Anak kedua dari<br>Bapak Bakti Ramadhan<br>dan Ibu Yunyun Yuniastuti</p>
    </div>
  </div>

  <div id="wdt" class="v100 pad-h">
    <h3>Waktu <span id="wdt-dan">&</span> Tempat</h3>
    <div id="wdt-waktu" class="wdt-info">
      <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" width="32px" height="32px" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:#000000;} </style> <g> <path class="st0" d="M164.893,89.791c13.875,0,25.126-11.243,25.126-25.134V25.118C190.019,11.252,178.768,0,164.893,0 s-25.135,11.252-25.135,25.118v39.538C139.758,78.548,151.018,89.791,164.893,89.791z"></path> <path class="st0" d="M350.184,89.791c13.867,0,25.126-11.243,25.126-25.134V25.118C375.31,11.252,364.05,0,350.184,0 c-13.875,0-25.135,11.252-25.135,25.118v39.538C325.048,78.548,336.309,89.791,350.184,89.791z"></path> <path class="st0" d="M437.25,35.807h-39.865v28.849c0,26.04-21.169,47.218-47.201,47.218c-26.032,0-47.209-21.178-47.209-47.218 V35.807h-90.881v28.849c0,26.04-21.178,47.218-47.2,47.218c-26.032,0-47.21-21.178-47.21-47.218V35.807H74.75 c-38.977,0-70.575,31.599-70.575,70.575v335.043C4.175,480.401,35.773,512,74.75,512H437.25c38.976,0,70.575-31.599,70.575-70.575 V106.382C507.825,67.406,476.226,35.807,437.25,35.807z M473.484,441.425c0,19.978-16.256,36.235-36.235,36.235H74.75 c-19.979,0-36.235-16.257-36.235-36.235V150.984h434.969V441.425z"></path> <rect x="174.928" y="382.512" class="st0" width="63.591" height="63.591"></rect> <rect x="174.928" y="283.96" class="st0" width="63.591" height="63.591"></rect> <rect x="76.385" y="382.512" class="st0" width="63.582" height="63.591"></rect> <rect x="76.385" y="283.96" class="st0" width="63.582" height="63.591"></rect> <rect x="372.032" y="185.417" class="st0" width="63.583" height="63.582"></rect> <rect x="273.48" y="185.417" class="st0" width="63.591" height="63.582"></rect> <polygon class="st0" points="350.041,293.216 331.127,278.51 296.686,322.811 276.238,306.454 261.273,325.142 300.677,356.673 "></polygon> <rect x="372.032" y="283.96" class="st0" width="63.583" height="63.591"></rect> <rect x="273.48" y="382.512" class="st0" width="63.591" height="63.591"></rect> <rect x="174.928" y="185.417" class="st0" width="63.591" height="63.582"></rect> </g> </g></svg>
      <h4>Sabtu, 21 Desember 2024</h4>
      <p>13:00 s.d. 15:00</p>
    </div>
    <div id="wdt-tempat" class="wdt-info">
      <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32px" height="32px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill="#000000" d="M32,0C18.746,0,8,10.746,8,24c0,5.219,1.711,10.008,4.555,13.93c0.051,0.094,0.059,0.199,0.117,0.289l16,24 C29.414,63.332,30.664,64,32,64s2.586-0.668,3.328-1.781l16-24c0.059-0.09,0.066-0.195,0.117-0.289C54.289,34.008,56,29.219,56,24 C56,10.746,45.254,0,32,0z M32,32c-4.418,0-8-3.582-8-8s3.582-8,8-8s8,3.582,8,8S36.418,32,32,32z"></path> </g></svg>
      <h4>Uncle D Space</h4>
      <p>Jl. Cigadung Raya Barat no. 28A<br>Cibeunying Kaler, Bandung</p>
    </div>

    <div id="ctd" class="wdt-info">
      <svg height="32px" width="32px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:#000000;} </style> <g> <path class="st0" d="M315.883,231.15l82.752-115.13c7.152-9.942,11.039-21.784,11.039-33.93V46.13h23.911V0H78.415v46.13h23.912 v35.96c0,12.145,3.886,23.988,11.039,33.93l82.752,115.13c2.963,4.136,4.472,8.857,4.483,13.665v22.36 c-0.011,4.808-1.52,9.53-4.483,13.665l-82.752,115.141c-7.154,9.942-11.039,21.783-11.039,33.918v35.971H78.415V512h355.169 v-46.129h-23.911V429.9c0-12.135-3.887-23.976-11.039-33.918L315.883,280.84c-2.963-4.136-4.482-8.857-4.482-13.665v-22.36 C311.401,240.007,312.92,235.286,315.883,231.15z M386.609,461.257H125.393V429.9c0-7.229,2.291-14.317,6.696-20.46l82.753-115.141 c5.708-7.934,8.824-17.41,8.824-27.124v-22.36c0-9.714-3.115-19.202-8.824-27.124L132.1,102.561 c-4.417-6.155-6.708-13.232-6.708-20.471V50.743h261.216V82.09c-0.011,7.239-2.291,14.316-6.709,20.471l-82.752,115.13 c-5.698,7.922-8.813,17.41-8.813,27.124v22.36c0,9.714,3.114,19.19,8.813,27.124l82.763,115.141 c4.407,6.143,6.686,13.231,6.698,20.46V461.257z"></path> <path class="st0" d="M236.268,232.929h39.466c1.672-8.314,5.091-16.237,10.181-23.314l59.491-82.774H166.595l59.492,82.774 C231.177,216.692,234.585,224.616,236.268,232.929z"></path> <path class="st0" d="M246.753,381.588l-65.82,65.831h150.134l-65.82-65.831C260.137,376.487,251.865,376.487,246.753,381.588z"></path> <path class="st0" d="M255.632,247.995c-5.688,0-10.301,4.614-10.301,10.312c0,5.688,4.614,10.3,10.301,10.3 c5.687,0,10.311-4.612,10.311-10.3C265.943,252.609,261.319,247.995,255.632,247.995z"></path> <path class="st0" d="M255.632,289.513c-5.688,0-10.301,4.613-10.301,10.3c0,5.698,4.614,10.312,10.301,10.312 c5.687,0,10.311-4.614,10.311-10.312C265.943,294.126,261.319,289.513,255.632,289.513z"></path> <path class="st0" d="M255.632,332.245c-5.688,0-10.301,4.613-10.301,10.311c0,5.687,4.614,10.312,10.301,10.312 c5.687,0,10.311-4.625,10.311-10.312C265.943,336.858,261.319,332.245,255.632,332.245z"></path> </g> </g></svg>
      <div id="cds"></div>
      <p>MENUJU PERNIKAHAN</p>
    </div>

  </div>


  <div id="closing" class="v25 pad-h">
    <p>Terima kasih kami ucapkan atas perhatian dan doa anda, kami nantikan kehadirannya pad-ha acara pernikahan kami.<br><br>tertanda,<br>Nabila, Fauzi, dan Keluarga.</p>
  </div>

</div>
